/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*heading section starts*/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 3;
}
.logo {
	width: 25%;
	display: flex;
	justify-content: flex-start;
	padding-left: 3%;
}
#aloha-logo {
  height: 100px;
  width: 150px;
}
.cart {
	width: 25%;
	display: flex;
	order: 1;
	justify-content: flex-end;
	align-items: center;
	padding-right: 3%;
}
#cart {
  height: 75px;
  width: 75px;
}
.itemCount {
	background-color: #e2574c;
	z-index: 1;
	color: white;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	border-radius: 50%;
	min-width: 1em;
	text-align: center;
	margin-bottom: 50px;
}
header nav ul {
	display: flex;
	justify-content: space-around;
	width: 100%
}
header nav ul li{
  display: inline;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  color: #e2574c;
}
header nav {
  display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
}
/*heading section ends*/
/*banner section starts*/
#hero {
  background: url("../images/banner-girl.png")center bottom no-repeat, url("../images/flower-bkgd.jpg");
	background-size: contain, auto;
	background-position-y: 70px, 0px;
	height: 600px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 1px #5c6066;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hero div h1 {
  z-index: 1;
  color: white;
  font-family: "Raleway";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
}
#hero .newcollection {
	display: flex;
	height: 50%;
	align-items: flex-end;
	padding-bottom: 3%;
	box-sizing: border-box;
}
#hero div h2 {
  z-index: 1;
  color: white;
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 60px;
  font-weight: 300;
}
#hero .springsummer2018 {
	display: flex;
	height: 50%;
}
/*banner section ends*/
/*hand crafted styles section starts*/
#hand-crafted-styles {
margin-bottom: 50px;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;
}
#hand-crafted-styles h1{
  font-family: "Playfair Display";
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 18px;
}
#hand-crafted-styles h1 span {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
}
#hand-crafted-styles p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: #969696;
	max-width: 543px;
}
/*hand crafted styles section ends*/
/*categories section starts*/
#categories {
	display: flex;
	flex-wrap: wrap;
}
#categories h1 {
  text-shadow: 1px 1px 1px #5c6066;
}
#mens {
  display: flex;
  background: url("../images/mens-category.jpg") center bottom no-repeat;
  box-sizing: border-box;
	background-size: cover;
  width: 50%;
	border-bottom: 8px solid white;
  border-right: 8px solid white;
	height: 300px;
	justify-content: center;
	align-items: center;
}
#mens h1 {
  display: flex;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
#trends {
  display: flex;
  background: url("../images/trends-category.jpg");
  width: 25%;
  box-sizing: border-box;
  background-size: cover;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
	justify-content: center;
	align-items: center;
	height: 300px;
}
#trends h1 {
  display: flex;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
#glasses {
  display: flex;
  background: url("../images/glasses-category.jpg");
  width: 25%;
  box-sizing: border-box;
  background-size: cover;
  border-bottom: 8px solid white;
	justify-content: center;
	align-items: center;
	height: 300px;
}
#glasses h1 {
  display: flex;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
#sale {
  display: flex;
  background: url("../images/sale-category.jpg");
  width: 25%;
  box-sizing: border-box;
  background-size: cover;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
	justify-content: center;
	align-items: center;
}
#sale h1 {
  display: flex;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
#bags {
  display: flex;
  background: url("../images/bags-category.jpg") right bottom no-repeat;
  width: 25%;
  box-sizing: border-box;
  background-size: cover;
  border-right: 8px solid white;
  border-bottom: 8px solid white;
	justify-content: center;
	align-items: center;
}
#bags h1 {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
#womens {
  display: flex;
  background: url("../images/womens-category.jpg");
  box-sizing: border-box;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 8px solid white;
	justify-content: center;
	align-items: center;
}
#womens h1 {
  display: flex;
  padding-top: 130px;
  padding-bottom: 130px;
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 40px;
}
/*categories section ends*/
/*most loved products section starts*/
.container h1 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 18px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.container h1 span {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
}
.carousel h1 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #969696;
}
.carousel h2 {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 500;
	font-size: 29px;
	color: #e2574c;
	margin-bottom: 20px;
}
.carousel p {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: #969696;
	margin-bottom: 20px;
}
.carousel img {
	width: 100%;
}
.addToCart {
	background-color: #242424;
	width: 100px;
	outline: none;
	z-index: 2;
	margin-bottom: 20px;
}
/*most loved products section ends*/
/*subscribe section starts*/
#subscribe {
  background: url("../images/wave-bkgd.jpg") center bottom no-repeat;
	background-position-y: -550px;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
	display: flex;
	height: 300px;
	flex-direction: column;
	align-items: center;
	flex-direction: column;
}
#subscribe {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#subscribe h1 {
  font-family: "Playfair Display";
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 1px #5c6066;
	display: flex;
	margin-top: 20px;
}
#subscribe h1 span {
  font-family: "Playfair Display";
  font-weight: bold;
  font-style: normal;
	padding-left: 0.2em;
}
#subscribe p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  color: white;
	max-width: 600px;
}
form {
	box-sizing: border-box;
	width: 30%;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  padding-right: 4px;
  padding-left: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
input {
  height: 40px;
  border: 0px solid transparent;
  font-size: 16px;
  font-weight: 300;
	width: 60%;
}
input:focus {
  outline: none;
}
button {
  background-color: #e2574c;
  width: 40%;
  color: white;
  height: 38px;
  border-radius: 50px;
  font-size: 16px;
}
/*subscribe section ends*/
/*footer starts*/
#facebook::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
  margin-right: 1.6em;
  color: white;
}
#facebook:hover::before {
  color: #3B5998;
}
#twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  margin-right: 1.1em;
  color: white;
}
#twitter:hover::before {
  color: #0084b4;
}
#instagram::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
  margin-right: 1.3em;
  color: white;
}
#instagram:hover::before {
  color: #c32aa3;
}
#pinterest::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d2";
  margin-right: 1.2em;
  color: white;
}
#pinterest:hover::before {
  color: #bd081c;
}
#google::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0d5";
  margin-right: 1em;
  color: white;
}
#google:hover::before {
  color: #db4437;
}
footer nav ul li a {
  text-decoration: none;
}
footer nav {
  color: white;
	width: 50%;
	padding-right: 50px;
	padding-top: 20px;
	display: flex;
	justify-content: flex-end;
}
footer p {
  font-family: "Playfair Display";
  font-weight: 500;
  font-style: normal;
  color: white;
	padding-left: 50px;
	width: 50%;
}
footer span {
  color: #969696;
}
footer {
  background-color: #242424;
  height: 250px;
	display: flex;
	align-items: center;
}
footer nav ul li {
  margin-bottom: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
	width: 110px;
	text-align: left;
}
footer nav li:hover {
  color: #5c6066;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: blue;
}
/*footer ends*/
/*media queries*/
@media screen and (max-width: 600px) {
/*media queries phone header*/
	header {
		flex-wrap: wrap;
		border: 10px solid white;
		box-sizing: border-box;
	}
	.cart {
		width: 50%;
		border-bottom: 1px solid #99969696;
		justify-content: flex-end;
		padding-right: 0px;
	}
	.logo {
		width: 50%;
		border-bottom: 1px solid #99969696;
		justify-content: flex-start;
		padding-left: 0px;
	}
	header nav {
		width: 100%;
		order: 2;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	header nav ul {
		margin-left: 5%;
		margin-right: 5%;
	}
/*media queries phone header ends*/
/* media queries hero */
	#hero div h2 {
		font-size: 40px;
		width: 320px;
	}
	#hero div h1 {
		font-size: 20px;
	}
/* media queries hero ends*/
/*media queries phone hand crafted*/
	#hand-crafted-styles {
		line-height: 25px;
	}
	#hand-crafted-styles h1{
		font-size: 35px;
	}
/*media queries phone hand crafted ends*/
/*media queries phone categories*/
	#categories {
		flex-wrap: wrap;
	}
	#categories h1 {
		font-size: 30px;
	}
	#mens {
		width: 100%;
		border-right: 0px;
		height: 200px;
	}
	#trends {
		width: 50%;
		height: 200px;
	}
	#glasses {
		width: 50%;
		height: 200px;
	}
	#sale {
		width: 50%;
		height: 200px;
	}
	#bags {
		width: 50%;
		border-right: 0px;
		height: 200px;
	}
	#womens {
		width: 100%;
		height: 200px;
	}
/*media queries phone categories end*/
/*media queries phone subscribe*/

	#subscribe p {
		line-height: 27px;
		max-width: 322px;
	}
	#subscribe h1 {
		font-size: 35px;
		padding-top: 20px;
	}
	#subscribe form {
		width: 80%;
	}
	/*media queries phone subscribe*/
	/*media queries footer*/
	footer {
		flex-direction: column;
		justify-content: flex-end;
	}
	footer nav {
		padding: 0px;
		height: 30%;
	}
	footer nav li a{
		display: none;
	}
	footer p {
		text-align: center;
		padding-left: 0px;
		height: 50%;
		width: 100%;
	}
	footer nav ul {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	footer li {
		display: flex;
	}
	footer nav ul li {
		width: 20px;
	}
	/*media queries footer ends*/
	body {
		font-size: 14px;
	}
}
/*media queries phone end*/
/*media queries tablet*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
	/*media queries tablet header*/
	.logo {
		align-items: center;
		justify-content: flex-start;
	}
	.cart {
		justify-content: flex-end;
		width: 20%;
	}
	header nav {
		width: 60%;
	}
	/*media queries tablet header end*/
	/*media queries tablet catgories*/
	#categories h1 {
		font-size: 30px;
	}
	#mens {
		height: 200px;
		border-bottom: 10px solid white;
	  border-right: 10px solid white;
	}
	#trends {
		height: 200px;
		border-bottom: 10px solid white;
	  border-right: 10px solid white;
	}
	#sale {
		height: 200px;
		border-right: 10px solid white;
	}
	#womens {
		height: 200px;
	}
	#bags {
		height: 200px;
		border-right: 10px solid white;
	}
	#glasses {
		height: 200px;
		border-bottom: 10px solid white;
	}
	/*media queries tablet categories end*/
	/*media queries tablet subscribe*/
	#subscribe form {
		width: 50%;
	}
	#subscribe p {
		max-width: 436px;
	}
	/*media queries tablet subscribe end*/
	/*media queries tablet footer*/
	footer nav {
		width: 40%;
	}
	footer p {
		width: 60%;
	}
}
/*media queries tablet end*/
.container {
  max-width: 1240px;
  margin: auto;
}
section {
  text-align: center;
}
body {
  color: #2d2d2d;
}
